<html>
    <body>
        <style>
            body{
                background-image: url(https://media.istockphoto.com/id/925269242/photo/black-chalkboard-as-mockup-for-restaurant-menu.jpg?s=612x612&w=0&k=20&c=9h3SrwQE1iFvvI0l23oZOkTEUpgx7BWD5H-7L4Uxhi0=);
                background-repeat: repeat-x;
                background-size: contain;
            }
            h1{
                color: aliceblue;
                position: center;
            }
        </style>
        <head ></head>
        <h1>Time to eat </h1>
    </body>
</html>